@charset "UTF-8";

.dHwqA-d {
	margin: 0px 30px;
	zoom: 1;
}

.jXzews {
	font-size: 26px;
	font-weight: bold;
}

.hmIkOp {
	margin-top: 14px;
	padding: 22px 0px 17px;
	border: 1px solid rgb(204, 204, 204);
	color: rgb(51, 51, 51);
	background-color: rgb(238, 238, 238);
	text-align: center;
}

.dFchUs {
	font-size: 28px;
}

.goGxol {
	margin-top: 8px;
	font-size: 18px;
}

.gZzwtT {
	margin-top: 20px;
}

.dxAjKT {
	margin-bottom: 30px;
}

.jEWkLm {
	font-size: 14px;
}

.UEwLx {
	width: 100%;
	table-layout: fixed;
	word-break: break-all;
}

.hxrrIC {
	width: 64px;
}

.giZitd {
	width: 64px;
	height: 64px;
	border-radius: 50%;
}

.isxZGj {
	padding: 9px 0px 12px 16px;
	border-right: 1px solid rgb(204, 204, 204);
}

.cpMUMw {
	width: 100%;
}

.gauflz {
	font-size: 14px;
}

.llqUPX {
	font-size: 12px;
	width: 80px;
	margin-top: 3px;
	vertical-align: top;
}

.bfQGhI {
	padding-top: 3px;
	font-size: 12px;
	font-weight: bold;
}

.jKqGhk {
	width: 14px;
	height: 17px;
	margin-top: 8px;
	display: inline-block;
}

.dDatIa {
	width: 400px;
	padding: 9px 0px 12px 16px;
	border-left: 1px solid rgb(204, 204, 204);
}

.cpMUMw {
	width: 100%;
}

.kVGkVb {
	min-width: 60px;
}

.kaQmPo {
	color: rgb(0, 137, 26);
}

.hVQCUg {
	margin-top: 20px;
	border-bottom: 1px solid rgb(204, 204, 204);
}

.eNIROz {
	width: 100%;
}

.iaLoJW {
	margin-top: 36px;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

div {
	display: block;
}

body .__next-wrap, .__next-wrap input, .__next-wrap textarea,
	.__next-wrap select, .__next-wrap button, .__next-wrap table {
	font-family: "맑은 고딕", malgun gothic, apple sd gothic neo, "나눔고딕",
		nanumgothic, "돋움", dotum, sans-serif;
}

.__next-wrap * {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

table {
	display: table;
	text-indent: initial;
	border-color: grey;
}

.eNIROz thead {
	border-bottom: 1px solid rgb(204, 204, 204);
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

.eNIROz tbody tr {
	height: 29px;
}

.eNIROz tbody td {
	padding: 6px 0px 6px 30px;
	font-size: 14px;
}

.eNIROz tbody tr {
	height: 29px;
}

.eNIROz thead th {
	padding-left: 30px;
	font-size: 12px;
	color: rgb(136, 136, 136);
}

.eNIROz thead tr {
	background-color: rgb(238, 238, 238);
	height: 39px;
}

.eNIROz thead {
	border-bottom: 1px solid rgb(204, 204, 204);
}

@media ( min-width : 1400px) {
	.container-xxl, .container-xl, .container-lg, .container-md,
		.container-sm, .container {
		max-width: 1320px;
	}
}

.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
}

.dropdown-content a {
	color: black;
	padding: 10px;
	width: 150px;
	text-decoration: none;
	display: block;
}

.dropdown:hover .dropdown-content {
	display: block;
	background-color: white;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-sm,
	.navbar>.container-md, .navbar>.container-lg, .navbar>.container-xl,
	.navbar>.container-xxl {
	display: flex;
	flex-wrap: inherit;
	align-items: center;
	justify-content: space-between;
}

.navbar-brand {
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	text-decoration: none;
	white-space: nowrap;
}

.navbar-nav {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 0;
}

.navbar-nav .dropdown-menu {
	position: static;
}

.navbar-text {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.navbar-collapse {
	flex-basis: 100%;
	flex-grow: 1;
	align-items: center;
}

.navbar-toggler {
	padding: 0.25rem 0.75rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	transition: box-shadow 0.15s ease-in-out;
}

.container, .container-fluid, .container-xxl, .container-xl,
	.container-lg, .container-md, .container-sm {
	width: 100%;
	padding-right: var(- -bs-gutter-x, 0.75rem);
	padding-left: var(- -bs-gutter-x, 0.75rem);
	margin-right: auto;
	margin-left: auto;
}

.navbar-light .navbar-brand {
	color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
	color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link {
	color: rgba(0, 0, 0, 0.55);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus
	{
	color: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-nav .nav-link.disabled {
	color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .nav-link.active
	{
	color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-toggler {
	color: rgba(0, 0, 0, 0.55);
	border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-toggler-icon {
	background-image:
		url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-text {
	color: rgba(0, 0, 0, 0.55);
}

.navbar-light .navbar-text a, .navbar-light .navbar-text a:hover,
	.navbar-light .navbar-text a:focus {
	color: rgba(0, 0, 0, 0.9);
}

.imgsertoku {
	float: left;
	margin-right: 20px;
	margin-top: 20px;
	clear: both;
}