@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.dHwqA-d {
    margin: 0px 0px 0px 30px;
    zoom: 1;
}
.jxMipk {
    color: rgb(51, 51, 51);
}
.edeWbb {
    width: 100%;
    padding-top: 2px;
    padding-bottom: 8px;
}
.jzBiTv {
    width: 100%;
    min-height: 25px;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: rgb(17, 17, 17);
}
.cpmwZc {
    color: rgb(17, 17, 17);
    margin-bottom: 24px;
    font-size: 0.75rem;
}
.hEqipt {
    line-height: 22px;
    float: left;
}
.dslKAU {
    color: rgb(17, 17, 17);
    margin-bottom: 20px;
    line-height: 1.375rem;
    font-size: 1rem;
}
.jtryGp {
    color: rgb(17, 17, 17);
    margin-bottom: 20px;
    line-height: 1.375rem;
    font-size: 1rem;
}
.fROrYB {
    float: right;
}
.hCVtNj {
    border-radius: 8px;
    border: 1px solid rgb(238, 238, 238);
    background-color: rgb(255, 255, 255);
    margin-top: 16px;
}
.gcWEbw {
    margin-top: 10px;
}
.khiofo {
    margin-top: 35px;
}
.berHYP {
    padding-bottom: 12px;
    color: rgb(17, 17, 17);
    font-size: 1rem;
}
.jqnXTj {
    border-top: 2px solid rgb(51, 51, 51);
    border-bottom: 1px solid rgb(204, 204, 204);
    width: 100%;
    font-size: 0.75rem;
}
.khiofo {
    margin-top: 35px;
}
.berHYP {
    padding-bottom: 12px;
    color: rgb(17, 17, 17);
    font-size: 1rem;
}
.jqnXTj {
    border-top: 2px solid rgb(51, 51, 51);
    border-bottom: 1px solid rgb(204, 204, 204);
    width: 100%;
    font-size: 0.75rem;
}
.khiofo {
    margin-top: 35px;
}berHYP {
    padding-bottom: 12px;
    color: rgb(17, 17, 17);
    font-size: 1rem;
}
.jqnXTj {
    border-top: 2px solid rgb(51, 51, 51);
    border-bottom: 1px solid rgb(204, 204, 204);
    width: 100%;
    font-size: 0.75rem;
}
.hnMMRm {
    width: 100%;
    margin-top: 35px;
    text-align: center;
}
.fEXcBR {
    float: left;
}
.iZblhb {
    color: rgb(52, 106, 255);
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 19px;
    padding: 8px 10px;
    cursor: pointer;
    display: inline-block;
    overflow: visible;
    text-align: center;
    height: 38px;
    border-radius: 4px;
    border: 1px solid rgb(52, 106, 255);
    background-color: rgb(255, 255, 255);
}
.hNmCa-D {
    float: right;
}
.iZblhb {
    color: rgb(52, 106, 255);
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 19px;
    padding: 8px 10px;
    cursor: pointer;
    display: inline-block;
    overflow: visible;
    text-align: center;
    height: 38px;
    border-radius: 4px;
    border: 1px solid rgb(52, 106, 255);
    background-color: rgb(255, 255, 255);
}
.iRPEXZ {
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
}
.hsTKMu {
    padding-bottom: 25px;
    overflow: hidden;
}
.jTQcSU {
    padding: 20px 0px 10px;
    display: table;
    position: relative;
    width: 100%;
    table-layout: fixed;
    font-size: 0.75rem;
}
.kXhaGH {
    display: table-cell;
    padding-left: 20px;
    text-align: left;
}
.kCXCvA {
    font-weight: bold;
    color: rgb(136, 136, 136);
}
.dkXmnJ {
    display: table-cell;
    padding-right: 20px;
    text-align: right;
}
.fuqhZg {
    color: rgb(61, 130, 247);
}
.dVjHYH {
    padding: 0px 0px 0px 41px;
}
.edyIRv {
    position: relative;
    float: left;
    width: 153px;
    padding: 0px;
}
.fnQWVX {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0px 0px 8px 5px;
    line-height: 1;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    font-style: normal;
    font-weight: normal;
    speak: none;
    background: url(//img1a.coupangcdn.com/image/my/desktop/order-status.png) 0px 0px no-repeat;
}
.gYDNlI {
    width: 115px;
    font-size: 0.6875rem;
    text-align: center;
    color: rgb(136, 136, 136);
}
.gYDNlI {
    width: 115px;
    font-size: 0.6875rem;
    text-align: center;
    color: rgb(136, 136, 136);
}
.gYDNlI {
    width: 115px;
    font-size: 0.6875rem;
    text-align: center;
    color: rgb(136, 136, 136);
}
.edyIRv {
    position: relative;
    float: left;
    width: 153px;
    padding: 0px;
}
.kNKHIh {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0px 0px 8px 5px;
    line-height: 1;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    font-style: normal;
    font-weight: normal;
    speak: none;
    background: url(//img1a.coupangcdn.com/image/my/desktop/order-status.png) -153px 0px no-repeat;
}
.gYDNlI {
    width: 115px;
    font-size: 0.6875rem;
    text-align: center;
    color: rgb(136, 136, 136);
}
.gYDNlI {
    width: 115px;
    font-size: 0.6875rem;
    text-align: center;
    color: rgb(136, 136, 136);
}
.edyIRv {
    position: relative;
    float: left;
    width: 153px;
    padding: 0px;
}
.kNKvAf {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0px 0px 8px 5px;
    line-height: 1;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    font-style: normal;
    font-weight: normal;
    speak: none;
    background: url(//img1a.coupangcdn.com/image/my/desktop/order-status.png) -306px 0px no-repeat;
}
.gYDNlI {
    width: 115px;
    font-size: 0.6875rem;
    text-align: center;
    color: rgb(136, 136, 136);
}
.gYDNlI {
    width: 115px;
    font-size: 0.6875rem;
    text-align: center;
    color: rgb(136, 136, 136);
}
.edyIRv {
    position: relative;
    float: left;
    width: 153px;
    padding: 0px;
}
.kNMjwi {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0px 0px 8px 5px;
    line-height: 1;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    font-style: normal;
    font-weight: normal;
    speak: none;
    background: url(//img1a.coupangcdn.com/image/my/desktop/order-status.png) -459px 0px no-repeat;
}
.gYDNlI {
    width: 115px;
    font-size: 0.6875rem;
    text-align: center;
    color: rgb(136, 136, 136);
}
.gYDNlI {
    width: 115px;
    font-size: 0.6875rem;
    text-align: center;
    color: rgb(136, 136, 136);
}
.edyIRv {
    position: relative;
    float: left;
    width: 153px;
    padding: 0px;
}
.kNLvyn {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0px 0px 8px 5px;
    line-height: 1;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    font-style: normal;
    font-weight: normal;
    speak: none;
    background: url(//img1a.coupangcdn.com/image/my/desktop/order-status.png) -612px 0px no-repeat;
}
.gYDNlI {
    width: 115px;
    font-size: 0.6875rem;
    text-align: center;
    color: rgb(136, 136, 136);
}
.gYDNlI {
    width: 115px;
    font-size: 0.6875rem;
    text-align: center;
    color: rgb(136, 136, 136);
}
.dVjHYH {
    padding: 0px 0px 0px 41px;
}
.hsTKMu {
    padding-bottom: 25px;
    overflow: hidden;
}
.UxXQy {
    padding: 20px 26px 16px;
    overflow: hidden;
    background-color: rgb(243, 243, 243);
}
.fQDbaW {
    color: rgb(136, 136, 136);
    margin-bottom: 20px;
    font-size: 0.875rem;
}
.fWZpfp {
    display: block;
    margin-top: 20px;
    font-size: 12px;
}
.bboIjZ {
    font-size: 0.6875rem;
    color: rgb(136, 136, 136);
}
.dYVCWG {
    border-spacing: 0px;
    border-collapse: collapse;
    color: rgb(85, 85, 85);
    border-bottom: 0px;
}
.dSygCD {
    display: table-caption;
    position: static;
    height: 0px;
    line-height: 0;
    overflow: hidden;
    font-size: 0px;
    width: 1px;
    text-indent: -9999px;
    text-align: left;
}
.jaxzev {
    background-color: rgb(255, 255, 255);
    text-align: left;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    padding: 16px 0px;
    vertical-align: middle;
}
.dIeIQM {
    background-color: rgb(255, 255, 255);
    text-align: right;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    padding: 16px 0px;
    vertical-align: middle;
}
.bYnuIo {
    font-size: 0.75rem;
    line-height: 16px;
    padding: 2px 8px;
    letter-spacing: -1px;
    cursor: pointer;
    color: rgb(17, 17, 17);
    display: inline-block;
    overflow: visible;
    text-align: center;
    box-sizing: content-box;
    height: 28px;
    border-radius: 4px;
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(255, 255, 255);
}
.khiofo {
    margin-top: 35px;
}
.dYVCWG {
    border-spacing: 0px;
    border-collapse: collapse;
    color: rgb(85, 85, 85);
    border-bottom: 0px;
}
.jqnXTj {
    border-top: 2px solid rgb(51, 51, 51);
    border-bottom: 1px solid rgb(204, 204, 204);
    width: 100%;
    font-size: 0.75rem;
}
.jaxzev {
    background-color: rgb(255, 255, 255);
    text-align: left;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    padding: 16px 0px;
    vertical-align: middle;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
element.style {
    border-bottom: 1px solid rgb(221, 221, 221);
}
.dIeIQM {
    background-color: rgb(255, 255, 255);
    text-align: right;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    padding: 16px 0px;
    vertical-align: middle;
}
.bYnuIo {
    font-size: 0.75rem;
    line-height: 16px;
    padding: 2px 8px;
    letter-spacing: -1px;
    cursor: pointer;
    color: rgb(17, 17, 17);
    display: inline-block;
    overflow: visible;
    text-align: center;
    box-sizing: content-box;
    height: 28px;
    border-radius: 4px;
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(255, 255, 255);
}
.gPCAUB {
    border-spacing: 0px;
    border-collapse: collapse;
    color: rgb(85, 85, 85);
    border-bottom: 1px solid rgb(221, 221, 221);
}
.dmEQfU {
    background-color: rgb(255, 255, 255);
}
.ihLHiS {
    background-color: rgb(255, 255, 255);
    text-align: left;
    font-weight: inherit;
    font-size: 0.875rem;
    color: rgb(85, 85, 85);
    padding: 14px 0px 8px;
    vertical-align: top;
}
.bDjgVA {
    background-color: rgb(245, 245, 245);
    text-align: left;
    font-weight: inherit;
    font-size: 0.875rem;
    color: inherit;
    padding: 14px 16px;
    vertical-align: top;
}
.kpjNvu {
    font-weight: normal;
}
.kpjNvu:first-child {
    margin-top: 0px;
}
.iIbvQG {
    float: left;
}
.ccQnWr {
    float: right;
    color: rgb(17, 17, 17);
}
.kpjNvu {
    font-weight: normal;
}
.sc-1w2sdij-0 + .sc-1w2sdij-0 {
    margin-top: 4px;
}
.iIbvQG {
    float: left;
}
.qTrpu {
    float: right;
    color: rgb(17, 17, 17);
}
.dmEQfU {
    background-color: rgb(255, 255, 255);
}
.jpZvwL {
    background-color: rgb(255, 255, 255);
    vertical-align: bottom;
    padding: 10px 0px;
    font-size: 0.875rem;
}
.gzBVg {
    background-color: rgb(245, 245, 245);
    vertical-align: bottom;
    padding: 10px 15px;
    font-size: 0.875rem;
}
.cVwNyN:first-child {
    margin-top: 0px;
}
.iqUAES {
    float: left;
}
.gwGcsO {
    float: right;
    color: rgb(17, 17, 17);
}
.iUCDca {
    margin-top: 4px;
    line-height: 26px;
}
.iqUAES {
    float: left;
}
.gWtccw {
    vertical-align: -1px;
    font-size: 18px;
    color: rgb(17, 17, 17);
}
.jGrmQY {
    color: rgb(85, 85, 85);
    font-weight: normal;
    line-height: 1.42857;
    margin-top: 0px;
}
.bSRolI {
    background-color: rgb(255, 255, 255);
    text-align: left;
    font-weight: inherit;
    font-size: 0.875rem;
    color: inherit;
    padding: 0px 0px 10px;
    vertical-align: top;
}
.qTrpu {
    float: right;
    color: rgb(17, 17, 17);
}
.sc-1w2sdij-0 + .sc-1w2sdij-0 {
    margin-top: 4px;
}
.kpjNvu::after {
    content: "";
    display: table;
    height: 0px;
    clear: both;
}
.cVwNyN::after {
    content: "";
    display: table;
    height: 0px;
    clear: both;
}
.hYQyEN {
    font-weight: normal;
    padding: 4px 0px;
}
.hUzAOG {
    height: 100%;
    padding: 20px;
    vertical-align: top;
}
.bQVZKC {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 4px;
}
.krPkOP {
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    display: flex;
    line-height: 1.5;
}
.hullgd {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(17, 17, 17);
}
.SWzAJ {
    position: relative;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 4px;
    height: 1em;
    vertical-align: middle;
    margin-left: 6px;
    margin-right: 6px;
}
.dhoCVo {
    font-size: 1.25rem;
}
.grCKyH {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
}
.bScTTg {
    transform-origin: center center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 50%;
    border: 0px solid rgb(255, 255, 255);
    padding: 0px;
    background-color: transparent;
    transform: rotate(90deg);
    display: inline-flex;
    width: 28px;
    height: 28px;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    appearance: none;
}
.JHhgQ {
    margin-right: 3px;
    border-radius: 50%;
    width: 3px;
    height: 3px;
}
.hmCrGF {
    margin-top: 4px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
}
.oRzGt {
    position: relative;
    top: -16px;
    display: flex;
    align-items: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
}
.gLgexz {
    overflow: hidden;
}
.cNiGzR {
    display: flex;
    flex-direction: row;
}
.eEDOvs {
    display: flex;
    width: 64px;
    position: relative;
    margin-right: 16px;
}
.gujsmv {
    opacity: 1;
}
.kdlGbA {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    border-radius: 4px;
    display: inline-flex;
}
.bmwSdh {
    user-select: none;
    overflow: hidden;
    flex: 1 1 0%;
    display: flex;
}
.jBCCpd {
    display: flex;
    flex: 1 1 0%;
    user-select: none;
    min-width: 0px;
    flex-direction: column;
}
.yma-DD:not(:last-child) {
    margin-bottom: 4px;
}
.yma-DD:empty {
    display: none;
}
.cvhDpw {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.iDQVMP {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.igPkOG {
    display: flex;
    flex-direction: row;
}
.gbTJl {
    width: 200px;
    height: 100%;
    text-align: center;
    border-left: 1px solid rgb(238, 238, 238);
}
.bCQoer {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 20px;
}
.iiEWkt {
    min-height: 2.25rem;
    font-size: 0.875rem;
    width: 160px;
    margin: 5px 0px;
}
.kiiuoA {
    min-height: 2.25rem;
    font-size: 0.875rem;
    width: 160px;
    margin: 4px 0px;
}
.gcWEbw {
    margin-top: 10px;
}
.fuqhZg::after {
    content: ">";
    position: relative;
    top: -2px;
    left: 2px;
    width: 10px;
    height: 10px;
}
.cpmwZc::after {
    content: "";
    display: table;
    height: 0px;
    clear: both;
}
.jtryGp::before {
    content: ".";
    color: rgb(207, 207, 207);
    margin-right: 4px;
    margin-left: 4px;
    position: relative;
    top: -4px;
}
.cpmwZc::after {
    content: "";
    display: table;
    height: 0px;
    clear: both;
}
.jRUPB {
    font-weight: normal;
    color: rgb(17, 17, 17);
    padding: 4px 0px;
}
.gIRWDV {
    font-weight: normal;
    color: rgb(17, 17, 17);
    padding: 4px 0px;
    text-align: right;
}
.kpnmCu:first-child th, .kpnmCu:first-child td {
    padding: 14px 0px 4px;
}
.iUCDca::after {
    content: "";
    display: table;
    height: 0px;
    clear: both;
}
.hnMMRm::after {
    content: "";
    display: table;
    height: 0px;
    clear: both;
}
.fnQWVX::after {
    content: " ";
    display: block;
    position: absolute;
    top: 38px;
    right: 20px;
    width: 13px;
    height: 25px;
    margin-top: -5px;
    background: url(//img1a.coupangcdn.com/image/my/desktop/order-status.png) -273px -37px no-repeat;
}
.kNKHIh::after {
    content: " ";
    display: block;
    position: absolute;
    top: 38px;
    right: 20px;
    width: 13px;
    height: 25px;
    margin-top: -5px;
    background: url(//img1a.coupangcdn.com/image/my/desktop/order-status.png) -273px -37px no-repeat;
}
.kNKvAf::after {
    content: " ";
    display: block;
    position: absolute;
    top: 38px;
    right: 20px;
    width: 13px;
    height: 25px;
    margin-top: -5px;
    background: url(//img1a.coupangcdn.com/image/my/desktop/order-status.png) -273px -37px no-repeat;
}
.kNMjwi::after {
    content: " ";
    display: block;
    position: absolute;
    top: 38px;
    right: 20px;
    width: 13px;
    height: 25px;
    margin-top: -5px;
    background: url(//img1a.coupangcdn.com/image/my/desktop/order-status.png) -273px -37px no-repeat;
}
.kNLvyn::after {
    content: " ";
    display: block;
    position: absolute;
    top: 38px;
    right: 20px;
    width: 13px;
    height: 25px;
    margin-top: -5px;
    background: url(//img1a.coupangcdn.com/image/my/desktop/order-status.png) -273px -37px no-repeat;
}
.jgRggD::after {
    content: ">";
    position: relative;
    top: -1px;
    left: 2px;
    width: 10px;
    height: 10px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@media ( min-width : 1400px) {
	.container-xxl, .container-xl, .container-lg, .container-md,
		.container-sm, .container {
		max-width: 1320px;
	}
}

.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
}

.dropdown-content a {
	color: black;
	padding: 10px;
	width: 150px;
	text-decoration: none;
	display: block;
}

.dropdown:hover .dropdown-content {
	display: block;
	background-color: white;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-sm,
	.navbar>.container-md, .navbar>.container-lg, .navbar>.container-xl,
	.navbar>.container-xxl {
	display: flex;
	flex-wrap: inherit;
	align-items: center;
	justify-content: space-between;
}

.navbar-brand {
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	text-decoration: none;
	white-space: nowrap;
}

.navbar-nav {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 0;
}

.navbar-nav .dropdown-menu {
	position: static;
}

.navbar-text {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.navbar-collapse {
	flex-basis: 100%;
	flex-grow: 1;
	align-items: center;
}

.navbar-toggler {
	padding: 0.25rem 0.75rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	transition: box-shadow 0.15s ease-in-out;
}

.container, .container-fluid, .container-xxl, .container-xl,
	.container-lg, .container-md, .container-sm {
	width: 100%;
	padding-right: var(- -bs-gutter-x, 0.75rem);
	padding-left: var(- -bs-gutter-x, 0.75rem);
	margin-right: auto;
	margin-left: auto;
}

.navbar-light .navbar-brand {
	color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
	color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link {
	color: rgba(0, 0, 0, 0.55);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus
	{
	color: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-nav .nav-link.disabled {
	color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .nav-link.active
	{
	color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-toggler {
	color: rgba(0, 0, 0, 0.55);
	border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-toggler-icon {
	background-image:
		url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-text {
	color: rgba(0, 0, 0, 0.55);
}

.navbar-light .navbar-text a, .navbar-light .navbar-text a:hover,
	.navbar-light .navbar-text a:focus {
	color: rgba(0, 0, 0, 0.9);
}

.imgsertoku {
	float: left;
	margin-right: 20px;
	margin-top: 20px;
	clear: both;
}