@charset "utf-8";

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap')
	;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: 1px solid silver; */
}

body {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
	line-height: 1.2rem;
	color: #333;
	letter-spacing: -0.02rem;
}

h1 {
	font-size: 56px;
	font-weight: 600;
	line-height: 60px;
}

h2 {
	font-size: 40px;
	font-weight: 700;
	line-height: 51px;
}

h3 {
	font-size: 28px;
	font-weight: 400;
	line-height: 3rem;
	text-transform: uppercase;
}

h4 {
	font-size: 21px;
	font-weight: 500;
	line-height: 28px;
	text-transform: uppercase;
	font-family: 'Sen', sans-serif;
}

h5 {
	font-size: 32px;
	font-weight: bold;
	line-height: 24px;
	text-transform: uppercase;
	color: #545454;
	font-family: 'Sen', sans-serif;
}

h6 {
	font-size: 19px;
}

a:link {
	color: #292929;
	text-decoration: none;
}

a:visited {
	color: #292929;
}

a:hover {
	color: #292929;
}

a:active {
	color: #292929;
}

ul li {
	list-style: none;
}

button {
	border: 1px solid #5f0080;
	border-radius: 4px;
	background-color: #fff;
	color: #5f0080;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	width: 100%;
	padding: 30px 40px;
}

img {
	width: 100px;
}

input, textarea, select {
	font-family: 'Noto Sans KR', sans-serif;
}

input[type=search], input[type=email], input[type=password], input[type=text],
	input[type=number], textarea {
	width: 100%;
	height: 48px;
	padding: 0 11px 1px 15px;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	appearance: none;
	outline: 0;
}

input[type=search]:focus, input[type=email]:focus, input[type=password]:focus,
	input[type=text]:focus, input[type=number]:focus, textarea:focus {
	border: 1px solid black;
}

input[type=radio] {
	appearance: none;
	width: 24px;
	height: 24px;
	margin-right: 12px;
	border: 1px solid #ddd;
	background-color: #fff;
	border-radius: 100%;
	display: inline-block;
	vertical-align: middle;
}

input[type=radio]:checked.smallradio {
	width: 24px;
	height: 24px;
	border: 7px solid #5f0081;
}

.headerbottom {
	width: 100%;
	height: 50px;
	padding: 5px 0;
	background: white;
	border-top: 1px solid #ddd;
	position: fixed;
	bottom: 0;
}

.headerbottom nav ul {
	display: flex;
}

.headerbottom nav ul img {
	width: 24px;
	height: 24px;
	display: block;
	margin: auto;
	padding-bottom: 4px;
}

.headerbottom nav ul li {
	list-style: none;
	width: 100%;
	text-align: center;
	font-size: 13px;
}

.info_member {
	padding: 50px 5% 0 5%;
}

.info_member>div>:nth-child(1) {
	padding: 18px 0 7px 0;
	font-weight: 500;
}

.info_member>div>:nth-child(1)::after {
	content: "*";
	color: #ee6a7b;
}

.info_member>:nth-child(8)>:nth-child(1)::after, .info_member>:nth-child(9)>:nth-child(1)::after,
	.info_member>:nth-child(10)>:nth-child(1)::after {
	display: none;
}

.info_member>:nth-child(1) div {
	display: flex;
}

.info_member>:nth-child(1) div button {
	width: 100px;
	height: 48px;
	margin-left: 10px;
	transition: 0.8s;
	flex-shrink: 0;
}

.info_member>:nth-child(1) div button:hover {
	color: white;
	background: #5f0080;
}

.info_member>:nth-child(6) div {
	display: flex;
}

.info_member>:nth-child(6) div button {
	width: 150px;
	height: 48px;
	margin-left: 10px;
	transition: 0.8s;
	flex-shrink: 0;
}

.info_member>:nth-child(6) div button:hover {
	color: white;
	background: #5f0080;
}

.info_member>:nth-child(7) input {
	background:
		url('https://res.kurly.com/kurly/ico/2021/search_20_20_333.svg')
		no-repeat;
	background-position: right center;
	background-size: 50px 24px;
	padding-right: 50px;
}

.info_member>:nth-child(7) span {
	display: block;
	padding-top: 8px;
	color: #999;
	font-size: 12px;
}

.info_member>:nth-child(8) div {
	display: flex;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.info_member>:nth-child(8) input {
	border: none;
	text-align: center;
}

.info_member>:nth-child(8) div span {
	margin: 0 10px;
	line-height: 48px;
	color: #ccc;
}

.info_member>:nth-child(9) label {
	display: block;
	padding: 12px 0;
}

.info_member>:nth-child(10) {
	padding-bottom: 12px;
}

.info_member>:nth-child(10) span {
	padding: 12px 0 4px;
	display: block;
}

.info_member>:nth-child(10) p {
	padding-bottom: 7px;
	color: #666;
	font-size: 12px;
}

.info_member>:nth-child(10) label {
	display: block;
	padding: 12px 0;
}

.consent {
	padding: 30px 40px;
}

.consent>:nth-child(1) {
	display: block;
	padding: 18px 0 7px 0;
	font-weight: 600;
}

.consent>:nth-child(1):after {
	content: "*";
	color: #ee6a7b;
}

.consent>:nth-child(2) {
	padding: 12px 0;
}

.consent>:nth-child(2) label {
	font-size: 16px;
	font-weight: 500;
}

.consent>:nth-child(2) p {
	padding-top: 12px;
	color: #666;
}

.consent>div {
	padding: 7px 0;
}

.consent>div label {
	line-height: 24px;
}

.consent>div label span {
	color: #999;
	margin-left: 4px;
}

.consent>:nth-child(7) {
	padding-left: 40px;
}

.consent>:nth-child(7)>:nth-child(2) {
	margin-left: 100px;
}

.consent>:nth-child(8) {
	width: 217px;
	height: 68px;
	margin-left: 45px;
}

.consent>:nth-child(10) {
	margin-top: 20px;
	width: 100%;
	height: 48px;
	border-radius: 4px;
	background-color: #5f0080;
	color: white;
	font-size: 16px;
	font-weight: 600;
}

/* end */